[user]
	email = kevinszuchet@gmail.com
	username = kevinszuchet
	name = kevinszuchet
[alias]
	uncommit = reset HEAD~1
	co = checkout
	br = branch
	st = status -sb
	aa = add -A .
	cm = commit -m
	amend = commit --amend
	cdf = clean -df
	mt = mergetool
	opts = config --list
	plog = log --pretty=oneline --graph --abbrev-commit
	glog = log --pretty=format:'%an :: %s' --graph
	ra = rebase --abort
	rc = rebase --continue
	rs = rebase --skip
	pom = pull origin master
	poma = pull origin main
